* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  background: #0b0f14;
  color: #eaffea;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #0f1720;
  border-bottom: 2px solid #00ff88;
}

.logo {
  color: #00ff88;
  font-size: 14px;
}

.navbar a {
  color: #eaffea;
  text-decoration: none;
  margin-left: 20px;
  font-size: 10px;
}

.navbar a:hover {
  color: #00ff88;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #0f1f14, #05070a);
  text-align: center;
}

.hero h1 {
  color: #00ff88;
  margin-bottom: 15px;
}

.hero p {
  font-size: 10px;
  margin-bottom: 25px;
}

.hero button {
  padding: 12px 20px;
  border: none;
  background: #00ff88;
  color: #000;
  cursor: pointer;
}

.hero button:hover {
  background: #00cc6a;
}

/* Scripts */
.scripts {
  padding: 60px 20px;
  text-align: center;
}

.scripts h2 {
  margin-bottom: 40px;
  color: #00ff88;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: #101820;
  padding: 20px;
  border: 2px solid #00ff88;
  transition: 0.3s;
}

.card h3 {
  color: #00ff88;
  margin-bottom: 10px;
  font-size: 11px;
}

.card p {
  font-size: 9px;
  margin-bottom: 15px;
}

.card button {
  padding: 8px;
  width: 100%;
  border: none;
  background: #00ff88;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 15px #00ff88;
}

/* About */
.about {
  padding: 50px 20px;
  background: #0f1720;
  text-align: center;
}

.about h2 {
  color: #00ff88;
  margin-bottom: 20px;
}

.about p {
  font-size: 9px;
  max-width: 600px;
  margin: auto;
}

/* Footer */
footer {
  padding: 15px;
  text-align: center;
  font-size: 8px;
  background: #05070a;
  }
